:root {
  --textColor-lighter: #333333;
  --text-color-darker: #111111;
  --green-lighter: #8bc34a;
  --green-darker: #6a9739;
  --section-bg: #f8f6f3;
  --secondary-font: 'Open Sans', sans-serif;
  --main-font: 'Merriweather', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
}

body,
html {
  height: 100%;
  width: 100%;
}

header {
  padding: 15px 35px 15px 35px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header-left {
  display: flex;
}

.logo {
  padding-right: 10px;
}

.logo > img {
  max-width: 150px;
}
.nav-left {
  display: flex;
}

.links-left {
  display: flex;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-left > li {
  padding-inline: 20px;
  list-style-type: none;
  font-size: 1rem;
  color: var(--textColor-lighter);
  cursor: pointer;
}

.links-left > li:hover {
  color: var(--green-lighter);
  transition: 0.4s ease;
}

.header-right {
  display: flex;
}

.nav-right {
  padding-right: 10px;
  display: flex;
}

.links-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--textColor-lighter);
  cursor: pointer;
}

.links-right > li {
  list-style-type: none;
  padding-inline: 16px;
}

.links-right > li:hover {
  color: var(--green-lighter);
  transition: 0.4s ease;
}

.header-cart {
  padding: 6.4px;
}

.cart-link {
  padding-inline: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.price-amount {
  padding: 0px 6px 0px 2px;
  margin-right: 8px;
  color: var(--green-lighter);
}
.basket-icon {
  height: 22px;
  width: 18px;
  fill: var(--green-lighter);
}

.badge {
  display: inline-block;
  position: relative;
  text-align: center;
  top: -16px;
  right: 11px;
  width: 18px;
  height: 18px;
  font-size: small;
  background-color: var(--green-lighter);
  color: black;
  border-radius: 50%;
}
.profile {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.profile-icon > img {
  min-height: 18.5px;
}

.section-1 {
  width: 100vw;
  background-color: var(--section-bg);
  position: relative;
  isolation: isolate;
}

.section-1::after {
  z-index: -1;
  background-image: url('/assets/leaves-free-img.png');
  background-repeat: no-repeat;
  background-size: 28%;
  background-position: right bottom;
  position: absolute;
  inset: 0;
  opacity: 0.25;
  content: '';
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-block: 120px;
}

.main-section-img {
  width: 50%;
}

.main-img {
  width: 100%;
}

.populated {
  width: 50%;
  height: auto;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}
.leaf-icon {
  margin-bottom: 20px;
}

.main-h5 {
  font-family: var(--main-font);
  font-size: 17px;
  margin-bottom: 15px;
}

.main-h1 {
  font-family: var(--main-font);
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.main-p {
  font-size: 16px;
}

.main-btn-area {
  margin-top: 50px;
  /* width: 100px; */
  text-align: left;
}

.shop-btn {
  text-decoration: none;

  padding: 0.7rem 1.2rem 0.7rem 1.2rem;
  border-radius: 5px;
  color: white;
  background-color: var(--green-darker);
}
